html {
  font-family: 'DM Mono', monospace;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  color: #dedede;
  text-align: left;
}

body {
  background-color: #252525;
  padding: 0;
}

a {
  color: inherit;
}

nav a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav {
  display: flex;
  justify-content: center;
  margin-top: 0;
}

nav .link {
  margin: auto 2em;
}

.aboutmetoggle {
  background: none;
  border: none;
  font-size: 1.1rem;
  font-family: inherit;
  color: inherit;
}

.aboutmetoggle:hover {
  cursor: pointer;
}

#title {
  position: absolute;
  top: 0;
  left: 1.5rem;
  transform: translateY(-170%);
  padding: 0 0.5rem;
  font-style: italic;
  text-shadow: 2px 2px 2px #00000099;
}

#disclaimer {
  font-size: .7rem;
  color: #adadad;
}

.infobox {
  position: relative;
  padding: 1.5rem;
  margin: 1.5rem auto;
  max-width: 60%;
  background: #2b2b2b;
  border-radius: 16px;
}

.infobox .label {
  font-size: 1.3rem;
  margin-left: 1.1rem;
  font-style: italic;
  text-decoration: underline;
  position: absolute;
  transform: translateY(-260%);
}

#introbox {
  margin-top: 5rem;
}

#aboutmebox {
  margin-top: 4rem;
}

#aboutmesections {
  list-style-type: none;
  padding: 0;
}

#aboutmesections li {
  margin: 18px auto;
}

.aboutmebody {
  display: none;
  color: #adadad;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 2px;
}
